%h1
  Edit your trip
= error_messages_for @trip

#trip
  = form_for(@trip, :action => url(:trip, @trip)) do
    = partial :fields
  

= link_to 'Show', url(:trip, @trip)
|
= link_to 'Back', url(:trips)