- if show_rocket?
  = image_tag('/images/rocket.png', :border => "0px", :id => "rocket")
  #bold
    %h1
      Mumbai
    %h2
      Are you ready for a new way to travel?
      %br
      fast. safe. comfortable. convenient.
      %br
      it's not just a bus. it's rbus!

  %p#summary
    = link_to "#{Trip.count} trips", url(:trips) 
    ==|
    = User.count
    users.
    %b Add yours now!
- else
  %h1 Add a trip
  
#trip
  - unless @trip.errors
    %h2 
      Get started now!
  = error_messages_for @trip
  = partial 'trips/fields'